<launch>
  <arg name="model" default="$(find motoman_description)/robots/sia5/sia5_gazebo_nishida_lab.urdf.xacro"/>
  <arg name="gui" default="True" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motoman_description)/launch/sia5/rviz/sia5_with_table.rviz" required="true" />
</launch>
