<launch>
  <node pkg="motoman_moveit" type="point_cloud_merger" name="point_cloud_merger" output="screen">
    <param name="cloud_in_1"  value="/kinect_first/hd/resized_points" />
    <param name="cloud_in_2"  value="/kinect_second/hd/resized_points" />
    <param name="cloud_out"  value="/merged_cloud" />
  </node>
</launch>
