<?xml version="1.0"?>
<robot name="sia5" xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sia5</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:macro name="gazebo_link_v0" params="name color">
	<gazebo reference="${name}">
      <material>Gazebo/${color}</material>
	</gazebo>
  </xacro:macro>

</robot>
