<launch>
  <node pkg="image_proc" type="image_proc" name="image_proc">
	<remap from="image_raw" to="/kinect_first/hd/image_color"/>
	<remap from="camera_info" to="/kinect_first/hd/camera_info"/>
  </node>
  
  <node name="ar_pose" pkg="ar_pose" type="ar_single" respawn="false"
		output="screen">
    <param name="marker_pattern" type="string"
		   value="$(find ar_pose)/data/4x4/4x4_93.patt"/>
    <param name="marker_width" type="double" value="80.08"/>
    <param name="marker_center_x" type="double" value="0.0"/>
    <param name="marker_center_y" type="double" value="0.0"/>
    <param name="threshold" type="int" value="103"/>
    <param name="use_history" type="bool" value="true"/>
	<remap from="camera/image_raw" to="/image_rect"/>
	<remap from="camera/camera_info" to="/kinect_first/hd/camera_info"/>
  </node>
</launch>
