<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
<xacro:macro name="kinect2_link_box_v0" params="name">
    <link name="${name}">
      <visual>
        <geometry>
          <mesh filename="package://motoman_description/meshes/sensor/visual/COLLADA/kinect2.dae"/>
        </geometry>
      </visual>
      <collision>
		<origin xyz="0 0 0.041"/>
        <geometry>
		  <box size="0.065 0.25 0.082"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.935"/>
        <inertia ixx="0.0053937" ixy="0" ixz="0"
				 iyy="0.00085311" iyz="0"
				 izz="0.00519899" />
      </inertial>
    </link>
</xacro:macro>
</robot>
