<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
<xacro:macro name="kinect2_link_box_v0" params="name">
    <link name="${name}">
      <visual>
        <geometry>
          <mesh filename="package://motoman_description/meshes/sensor/visual/COLLADA/kinect2.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
		  <box size="0.07 0.5 0.043"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.5"/>
        <inertia ixx="0.00674371" ixy="0" ixz="0"
				 iyy="0.000281208" iyz="0"
				 izz="0.0068708" />
      </inertial>
    </link>
</xacro:macro>
</robot>
