<?xml version="1.0"?>
<robot name="sia5" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- File Include -->
  <xacro:include filename="$(find motoman_description)/urdf/common.xacro" />
  <xacro:include filename="$(find motoman_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/sia5/body.urdf.xacro" />
  <xacro:include filename="$(find motoman_description)/urdf/sia5/body.transmission.xacro"/>
  <xacro:include filename="$(find motoman_description)/gazebo/sia5/sia5.gazebo.xacro"/>

  <!-- Mass -->
  <property name="sum_mass" value="30.0" />
  <!-- about mass rate -->
  <property name="table_mass" value="40.0" />
  <property name="base_rate" value="8.5" />
  <property name="s_rate" value="7.7" />
  <property name="l_rate" value="7.0" />
  <property name="e_rate" value="1.2" />
  <property name="u_rate" value="1.0" />
  <property name="r_rate" value="0.9" />
  <property name="b_rate" value="0.8" />
  <property name="t_rate" value="0.5" />
  <!-- Hard ware limits -->
  <!-- Range limits -->
  <xacro:property name="s_axis_upper_limit" value="${179.99999*M_PI/180.0}"/>
  <xacro:property name="s_axis_lower_limit" value="-${s_axis_upper_limit}"/>
  <xacro:property name="l_axis_upper_limit" value="${110.0*M_PI/180.0}"/>
  <xacro:property name="l_axis_lower_limit" value="-${l_axis_upper_limit}"/>
  <xacro:property name="e_axis_upper_limit" value="${170.0*M_PI/180.0}"/>
  <xacro:property name="e_axis_lower_limit" value="-${e_axis_upper_limit}"/>
  <xacro:property name="u_axis_upper_limit" value="${115.0*M_PI/180.0}"/>
  <xacro:property name="u_axis_lower_limit" value="${-90.0*M_PI/180.0}"/>
  <xacro:property name="r_axis_upper_limit" value="${179.99999*M_PI/180.0}"/>
  <xacro:property name="r_axis_lower_limit" value="-${r_axis_upper_limit}"/>
  <xacro:property name="b_axis_upper_limit" value="${110.0*M_PI/180.0}"/>
  <xacro:property name="b_axis_lower_limit" value="-${b_axis_upper_limit}"/>  
  <xacro:property name="t_axis_upper_limit" value="${179.99999*M_PI/180.0}"/>
  <xacro:property name="t_axis_lower_limit" value="-${t_axis_upper_limit}"/>
  <!-- Velocity limits -->
  <xacro:property name="s_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="l_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="e_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="u_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="r_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="b_axis_velocity_limit" value="${230.0*M_PI/180.0}"/>
  <xacro:property name="t_axis_velocity_limit" value="${350.0*M_PI/180.0}"/>

  <!-- link -->
  <link name="world"/>
  <xacro:link_box_v0 name="table_link" mass="${table_mass}"
					 width="0.676" depth="1.116" height="0.53"
					 ox="0.20" oy="0" oz="0.265" oroll="0" opitch="0" oyaw="0"/>
  <xacro:link_box_v0 name="base_link" mass="${base_rate/sum_rate*sum_mass}"
					 width="0.1665" depth="0.1976" height="0.1465"
					 ox="-0.025918" oy="-0.000376" oz="0.076105" oroll="0" opitch="0" oyaw="0"/>
  <xacro:link_cylinder_plus_box_v0 name="link_s"
								   ox="0" oy="0" oz="0" oroll="0" opitch="0" oyaw="0"
								   mass_cyl="${s_rate/sum_rate*sum_mass*0.2}"
								   radius_cyl="0.066" height_cyl="0.031"
								   mass_box="${s_rate/sum_rate*sum_mass*0.8}"
								   width_box="0.0851" depth_box="0.1" height_box="0.1823"/>
  <xacro:link_cylinder_plus_box_v0 name="link_l"
								   ox="0" oy="-0.006" oz="0.15" oroll="${M_PI}" opitch="0" oyaw="0"
								   mass_cyl="${l_rate/sum_rate*sum_mass*0.4}"
								   radius_cyl="0.066" height_cyl="0.073"
								   mass_box="${l_rate/sum_rate*sum_mass*0.6}"
								   width_box="0.073" depth_box="0.1089" height_box="0.149"/>
  <xacro:link_cylinder_plus_box_v0 name="link_e"
								   ox="0" oy="0" oz="0" oroll="0" opitch="0" oyaw="${-M_PI/2}"
								   mass_cyl="${e_rate/sum_rate*sum_mass*0.56}"
								   radius_cyl="0.0685" height_cyl="0.0661"
								   mass_box="${e_rate/sum_rate*sum_mass*0.44}"
								   width_box="0.1234" depth_box="0.063" height_box="0.1176"/>
  <xacro:link_cylinder_plus_box_v0 name="link_u"
								   ox="0.008" oy="-0.06" oz="-0.131" oroll="${-M_PI}" opitch="${M_PI/2}" oyaw="0"
								   mass_cyl="${u_rate/sum_rate*sum_mass*0.48}"
								   radius_cyl="0.055" height_cyl="0.0698"
								   mass_box="${u_rate/sum_rate*sum_mass*0.52}"
								   width_box="0.13174" depth_box="0.068" height_box="0.104"/>
  <xacro:link_cylinder_plus_box_v0 name="link_r"
  								   ox="0" oy="0" oz="0" oroll="0" opitch="0" oyaw="${-M_PI/2}"
  								   mass_cyl="${r_rate/sum_rate*sum_mass*0.25}"
  								   radius_cyl="0.0525" height_cyl="0.038"
  								   mass_box="${r_rate/sum_rate*sum_mass*0.75}"
  								   width_box="0.0645" depth_box="0.084" height_box="0.1425"/>
  <xacro:link_cylinder_plus_box_v0 name="link_b"
  								   ox="0" oy="0.0045" oz="0.1365" oroll="${M_PI/2}" opitch="${-M_PI/2}" oyaw="0"
  								   mass_cyl="${b_rate/sum_rate*sum_mass*0.55}"
  								   radius_cyl="0.04" height_cyl="0.0948"
  								   mass_box="${b_rate/sum_rate*sum_mass*0.45}"
  								   width_box="0.0676" depth_box="0.076" height_box="0.0627"/>
  <xacro:link_v1 name="link_t" mass="${t_rate/sum_rate*sum_mass}"
  				 ixx="0.003" ixy="0" ixz="0"
  				 iyy="0.003" iyz="0"
  				 izz="0.001"/>
  <link name="tool0"/>
  
  <!-- joint -->
  <joint name="world" type="fixed">
    <parent link="world"/>
    <child link="table_link"/>
	<origin xyz="0 0 0.53"/>
  </joint>
  <joint name="joint_base" type="fixed">
	<parent link="table_link"/>
	<child link="base_link"/>
  </joint>
  <xacro:joint_v1 joint_name="joint_s"
  				  parent_name="base_link" child_name="link_s"
				  ox="0" oy="0" oz="0.1765"
				  roll="0" pitch="0" yaw="0"
  				  ax="0" ay="0" az="1"
  				  el="30.0"
  				  ll="${s_axis_lower_limit}" ul="${s_axis_upper_limit}"
  				  vl="${s_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${s_axis_lower_limit}" sul="${s_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_l"
  				  parent_name="link_s" child_name="link_l"
  				  ox="0" oy="0.006" oz="0.136"
  				  roll="0" pitch="0" yaw="0"
  				  ax="0" ay="1" az="0"
  				  el="30.0"
  				  ll="${l_axis_lower_limit}" ul="${l_axis_upper_limit}"
  				  vl="${l_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${l_axis_lower_limit}" sul="${l_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_e"
  				  parent_name="link_l" child_name="link_e"
  				  ox="0" oy="-0.006" oz="0.15"
  				  roll="0" pitch="0" yaw="0"
  				  ax="0" ay="0" az="1"
  				  el="30.0"
  				  ll="${e_axis_lower_limit}" ul="${e_axis_upper_limit}"
  				  vl="${e_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${e_axis_lower_limit}" sul="${e_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_u"
  				  parent_name="link_e" child_name="link_u"
  				  ox="0.085" oy="-0.00826931" oz="0.12275299"
  				  roll="${M_PI/2.0}" pitch="0" yaw="0"
  				  ax="0" ay="0" az="1"
  				  el="30.0"
  				  ll="${u_axis_lower_limit}" ul="${u_axis_upper_limit}"
  				  vl="${u_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${u_axis_lower_limit}" sul="${u_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_r"
  				  parent_name="link_u" child_name="link_r"
  				  ox="0.131" oy="0.06" oz="-0.008"
  				  roll="0" pitch="${M_PI/2}" yaw="0"
  				  ax="0" ay="0" az="-1"
  				  el="14.7"
  				  ll="${r_axis_lower_limit}" ul="${r_axis_upper_limit}"
  				  vl="${r_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${r_axis_lower_limit}" sul="${r_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_b"
  				  parent_name="link_r" child_name="link_b"
  				  ox="-0.0045" oy="0" oz="0.139"
  				  roll="0" pitch="${-M_PI/2}" yaw="0"
  				  ax="0" ay="0" az="1"
  				  el="14.7"
  				  ll="${b_axis_lower_limit}" ul="${b_axis_upper_limit}"
  				  vl="${b_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${b_axis_lower_limit}" sul="${b_axis_upper_limit}"/>
  <xacro:joint_v1 joint_name="joint_t"
  				  parent_name="link_b" child_name="link_t"
  				  ox="0.1365" oy="0" oz="-0.0045"
  				  roll="${-M_PI/2}" pitch="0" yaw="0"
				  ax="-1" ay="0" az="0"
				  el="7.35"
				  ll="${t_axis_lower_limit}" ul="${t_axis_upper_limit}"
				  vl="${t_axis_velocity_limit}"
				  skp="1" skv="1"
				  sll="${t_axis_lower_limit}" sul="${t_axis_upper_limit}"/>
  <joint name="joint_tool0" type="fixed">
    <origin rpy="0 0 0" xyz="0.0115 0 -0.040"/>
    <parent link="link_t"/>
    <child link="tool0"/>
  </joint>
  
  <!-- transmission -->
  <xacro:simple_jp_trans_v0 name="transmission_s"
  							joint_name="joint_s" actuator_name="motor_s"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_l"
  							joint_name="joint_l" actuator_name="motor_l"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_e"
  							joint_name="joint_e" actuator_name="motor_e"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_u"
  							joint_name="joint_u" actuator_name="motor_u"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_r"
  							joint_name="joint_r" actuator_name="motor_r"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_b"
  							joint_name="joint_b" actuator_name="motor_b"
  							reduction="1"/>
  <xacro:simple_jp_trans_v0 name="transmission_t"
  							joint_name="joint_t" actuator_name="motor_t"
  							reduction="1"/>
</robot>
