<?xml version="1.0"?>
<robot name="sia5" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- File Include -->
  <xacro:include filename="$(find motoman_description)/urdf/sensor/kinect.urdf.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/sensor/kinect.gazebo.xacro"/>
  <xacro:include filename="$(find motoman_description)/robots/sia5/sia5.urdf.xacro"/>

  <!-- add Kinect V2 -->
  <!-- Link -->
  <xacro:kinect2_link_box_v0 name="kinect2_link"/>
  <link name="kinect2_rgb_optical_frame"/>

  <!-- Joint -->
  <joint name="joint_kinect2" type="fixed">
    <origin rpy="0 ${10*M_PI/180} ${M_PI}" xyz="1.05024 0 0.3195"/>
    <parent link="base_link"/>
    <child link="kinect2_link"/>
  </joint>

  <joint name="joint_rgb_kinect2" type="fixed">
    <origin rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <parent link="kinect2_link"/>
    <child link="kinect2_rgb_optical_frame"/>
  </joint>

  <!-- Gazebo -->
  <xacro:kinect_gazebo suffix="" name="kinect2"/>

</robot>
