<?xml version="1.0"?>
<robot name="sia5" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- File Include -->
  <xacro:include filename="$(find motoman_description)/urdf/tool/jamming.urdf.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/tool/jamming.gazebo.xacro"/>
  <xacro:include filename="$(find motoman_description)/robots/sia5/sia5_no_tool.urdf.xacro"/>

  <!-- Link -->
  <xacro:tool_link_cylinder_v0 name="gripper_link" mass="1.0"
  							   radius="0.0965" height="0.61445"
  							   ox="0" oy="0" oz="0"
  							   oroll="0" opitch="0" oyaw="0"/>

  <xacro:tool_link_v1 name="balloon" mass="0.3"
  					  ixx="0.001" ixy="0" ixz="0"
  					  iyy="0.001" iyz="0" izz="0.001"/>

  <!-- Joint -->
  <joint name="joint_gripper" type="fixed">
    <origin rpy="-0.1745 0 0" xyz="0 0 0"/>
    <parent link="tool0"/>
    <child link="gripper_link"/>
  </joint>

  <joint name="joint_balloon" type="fixed">
    <origin rpy="0.1745 0 0" xyz="0.108 0 0"/>
    <parent link="gripper_link"/>
    <child link="balloon"/>
  </joint>
  
  <!-- Gazebo -->
  <xacro:gazebo_tool_link_v0 name="gripper_link" color="Blue"/>
  <xacro:gazebo_tool_link_v0 name="balloon" color="Red"/>
  
</robot>





