<?xml version="1.0"?>
<robot name="sia5" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_description)/urdf/common.xacro" />
  <xacro:include filename="$(find motoman_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find motoman_description)/urdf/sia5/body.urdf.xacro" />
  
  <xacro:property name="s_axis_upper_limit" value="${180.0*M_PI/180.0}"/>
  <xacro:property name="s_axis_lower_limit" value="-${s_axis_upper_limit}"/>
  <xacro:property name="l_axis_upper_limit" value="${110.0*M_PI/180.0}"/>
  <xacro:property name="l_axis_lower_limit" value="-${l_axis_upper_limit}"/>
  <xacro:property name="e_axis_upper_limit" value="${170.0*M_PI/180.0}"/>
  <xacro:property name="e_axis_lower_limit" value="-${e_axis_upper_limit}"/>
  <xacro:property name="u_axis_upper_limit" value="${115.0*M_PI/180.0}"/>
  <xacro:property name="u_axis_lower_limit" value="${-90.0*M_PI/180.0}"/>
  <xacro:property name="r_axis_upper_limit" value="${180.0*M_PI/180.0}"/>
  <xacro:property name="r_axis_lower_limit" value="-${r_axis_upper_limit}"/>
  <xacro:property name="b_axis_upper_limit" value="${110.0*M_PI/180.0}"/>
  <xacro:property name="b_axis_lower_limit" value="-${b_axis_upper_limit}"/>  
  <xacro:property name="t_axis_upper_limit" value="${180.0*M_PI/180.0}"/>
  <xacro:property name="t_axis_lower_limit" value="-${t_axis_upper_limit}"/>
  
  <xacro:property name="s_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="l_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="e_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="u_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="r_axis_velocity_limit" value="${200.0*M_PI/180.0}"/>
  <xacro:property name="b_axis_velocity_limit" value="${230.0*M_PI/180.0}"/>
  <xacro:property name="t_axis_velocity_limit" value="${350.0*M_PI/180.0}"/>
  
  <xacro:link_v1 name="base_link" mass="${base_rate/sum_rate*sum_mass}"
				 ixx="0.000023" ixy="0.000000" ixz="-0.000001"
				 iyy="0.000027" iyz="-0.000000" izz="0.000028"/>
  <xacro:link_v1 name="link_s" mass="${s_rate/sum_rate*sum_mass}"
  				 ixx="0.000008" ixy="0.000000" ixz="-0.000000"
  				 iyy="0.000008" iyz="0.000001" izz="0.000004"/>
  <!-- <xacro:link_v1 name="link_l" color="blue" mass="${30.0/sum*l}" -->
  <!-- 				 ixx="0.004612" ixy="0.000001" ixz="-0.000003" -->
  <!-- 				 iyy="0.004681" iyz="-0.000652" izz="0.001990"/> -->
  <!-- <xacro:link_v1 name="link_e" color="white" mass="${30.0/sum*e}" -->
  <!-- 				 ixx="0.002892" ixy="-0.000172" ixz="-0.001110" -->
  <!-- 				 iyy="0.004050" iyz="-0.000261" izz="0.003426"/> -->
  <!-- <xacro:link_v1 name="link_u" color="blue" mass="${30.0/sum*u}" -->
  <!-- 				 ixx="0.002100" ixy="-0.000490" ixz="-0.000856" -->
  <!-- 				 iyy="0.003544" iyz="-0.000268" izz="0.002971" /> -->
  <!-- <xacro:link_v1 name="link_r" color="white" mass="${30.0/sum*r}" -->
  <!-- 				 ixx="0.002848" ixy="0.000271" ixz="0.000000" -->
  <!-- 				 iyy="0.005945" iyz="0.000000" izz="0.006357"/> -->
  <!-- <xacro:link_v1 name="link_b" color="blue" mass="${30.0/sum*b}" -->
  <!-- 				 ixx="0.001710" ixy="0.000714" ixz="-0.000007" -->
  <!-- 				 iyy="0.004150" iyz="0.000002" izz="0.004303"/> -->
  <!-- <xacro:link_v1 name="link_t" color="white" mass="${30.0/sum*t}" -->
  <!-- 				 ixx="0.002411" ixy="-0.000001" ixz="0.000002" -->
  <!-- 				 iyy="0.001266" iyz="0.000035" izz="0.001206"/> -->
  <!-- <link name="tool0"/> -->
  
  <xacro:joint_v1 joint_name="joint_s"
  				  parent_name="base_link" child_name="link_s"
  				  ox="0" oy="0" oz="0.1765"
  				  ax="0" ay="0" az="1"
  				  el="30.0"
  				  ll="${s_axis_lower_limit}" ul="${s_axis_upper_limit}"
  				  vl="${s_axis_velocity_limit}"
  				  skp="1" skv="1"
  				  sll="${s_axis_lower_limit}" sul="${s_axis_upper_limit}"/>
  
  <!-- <xacro:joint_v1 joint_name="joint_l" -->
  <!-- 				  parent_name="link_s" child_name="link_l" -->
  <!-- 				  ox="0" oy="0" oz="0" -->
  <!-- 				  ax="0" ay="1" az="0" -->
  <!-- 				  el="30.0" -->
  <!-- 				  ll="${l_axis_lower_limit}" ul="${l_axis_upper_limit}" -->
  <!-- 				  vl="${l_axis_velocity_limit}" -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${l_axis_lower_limit}" sul="${l_axis_upper_limit}"/> -->
  <!-- <xacro:joint_v1 joint_name="joint_e" -->
  <!-- 				  parent_name="link_l" child_name="link_e" -->
  <!-- 				  ox="0" oy="0" oz="0.27" -->
  <!-- 				  ax="0" ay="0" az="1" -->
  <!-- 				  el="30.0" -->
  <!-- 				  ll="${e_axis_lower_limit}" ul="${e_axis_upper_limit}" -->
  <!-- 				  vl="${e_axis_velocity_limit}" -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${e_axis_lower_limit}" sul="${e_axis_upper_limit}"/> -->
  <!-- <xacro:joint_v1 joint_name="joint_u" -->
  <!-- 				  parent_name="link_e" child_name="link_u" -->
  <!-- 				  ox="0.085" oy="0" oz="0" -->
  <!-- 				  ax="0" ay="1" az="0" -->
  <!-- 				  el="30.0" -->
  <!-- 				  ll="${u_axis_lower_limit}" ul="${u_axis_upper_limit}" -->
  <!-- 				  vl="${u_axis_velocity_limit}" -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${u_axis_lower_limit}" sul="${u_axis_upper_limit}"/> -->
  <!-- <xacro:joint_v1 joint_name="joint_r" -->
  <!-- 				  parent_name="link_u" child_name="link_r" -->
  <!-- 				  ox="0.27" oy="0" oz="0.06" -->
  <!-- 				  ax="-1" ay="0" az="0" -->
  <!-- 				  el="14.7" -->
  <!-- 				  ll="${r_axis_lower_limit}" ul="${r_axis_upper_limit}" -->
  <!-- 				  vl="${r_axis_velocity_limit}" -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${r_axis_lower_limit}" sul="${r_axis_upper_limit}"/> -->

  <!-- <xacro:joint_v1 joint_name="joint_b" -->
  <!-- 				  parent_name="link_r" child_name="link_b" -->
  <!-- 				  ox="0" oy="0" oz="0" -->
  <!-- 				  ax="0" ay="1" az="0" -->
  <!-- 				  el="14.7" -->
  <!-- 				  ll="${b_axis_lower_limit}" ul="${b_axis_upper_limit}" -->
  <!-- 				  vl="${b_axis_velocity_limit}"				   -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${b_axis_lower_limit}" sul="${b_axis_upper_limit}"/> -->

  <!-- <xacro:joint_v1 joint_name="joint_t" -->
  <!-- 				  parent_name="link_b" child_name="link_t" -->
  <!-- 				  ox="0.134" oy="0" oz="0" -->
  <!-- 				  ax="-1" ay="0" az="0" -->
  <!-- 				  el="7.35" -->
  <!-- 				  ll="${t_axis_lower_limit}" ul="${t_axis_upper_limit}" -->
  <!-- 				  vl="${t_axis_velocity_limit}" -->
  <!-- 				  skp="1" skv="1" -->
  <!-- 				  sll="${t_axis_lower_limit}" sul="${t_axis_upper_limit}"/> -->
  <!-- <joint name="joint_tool0" type="fixed"> -->
  <!--   <origin rpy="0 0 0" xyz="0.011 0 0"/> -->
  <!--   <parent link="link_t"/> -->
  <!--   <child link="tool0"/> -->
  <!-- </joint> -->
</robot>
