<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="gazebo_tool_link_v0" params="name color">
	<gazebo reference="${name}">
	  <mu1>0.2</mu1>
	  <mu2>0.2</mu2>
	  <selfCollide>true</selfCollide>
	  <material>Gazebo/${color}</material>
	</gazebo>
  </xacro:macro>
</robot>
