<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_description)/urdf/sia5/body.gazebo.xacro"/>
  <!-- gazebo -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sia5</robotNamespace>
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
    </plugin>
  </gazebo>
  <xacro:gazebo_link_v1 name="base_link"/>
  <xacro:gazebo_link_v1 name="link_s"/>
  <!-- <xacro:gazebo_link_v1 name="link_l"/> -->
  <!-- <xacro:gazebo_link_v1 name="link_e"/> -->
  <!-- <xacro:gazebo_link_v1 name="link_u"/> -->
  <!-- <xacro:gazebo_link_v1 name="link_r"/> -->
  <!-- <xacro:gazebo_link_v1 name="link_b"/> -->
  <!-- <xacro:gazebo_link_v1 name="link_t"/> -->
</robot>
